<!-- <div style="background-color: #FCF7F6;" class="container-fluid  d-flex justify-content-center" >
    <div class="row">
      <div class="col-12 mt-1">
        <h6>FREE WORLDWIDE SHIPPING ON ALL ORDERS OVER $50 - 100 DAY RETURNS + EXCHANGES</h6>
      </div>
    </div>
   </div>
  
   <div  class="container-fluid  p-1">
    <div class="row">
      <div class="col-12  col-md-4  d-flex justify-content-center justify-content-md-center">
        <img class = " mt-2"   src="https://picsum.photos/200/300" height="50px" width="50px">
        <p class="m-3">Garden</p>
      </div>
  
      <div class="col-12  col-md-4  mt-3 d-flex justify-content-start justify-content-md-center">
        <nav>
          <ul class="list-inline ">
            <li  class="list-inline-item mx-2">Home</li>
            <li routerLink="/adduser" class="list-inline-item mx-2">Shop</li>
            <li class="list-inline-item mx-2">Accessories</li>
            <li class="list-inline-item mx-2">Sports</li>
            <li class="list-inline-item mx-2">Pages</li>
            <li class="list-inline-item mx-2">Contacts</li>
          </ul>
        </nav>
      </div>
      <div class="mt-3 col-12  col-md-4 d-flex justify-content-center justify-content-md-center">
        <i class="bi bi-heart mx-2"></i>
        <i class="bi bi-zoom-in mx-2"></i>
        <i class="bi bi-suitcase2 mx-2"></i>
      </div>
    </div>
   </div>
  
    <div class="row">
      <div class = "col-md-6" style="background-image: url(assets/luke-chesser-pJadQetzTkI-unsplash.jpg);  height: 60vh;">
        <div>
          <p >It's time for you to have</p>
          <p >Let the environment be green let it be fresh</p>
          <button >Buy Now</button>
          </div>
      </div>
      <div class = "col-md-6" style="background-image: url(assets/luke-chesser-pJadQetzTkI-unsplash.jpg); height: 60vh;"></div>
    </div> -->
